.bg-primary {
    background-color: #0c5460;
}

.bg-accent {
    background: #33a2aa;
}

.bg-primary-light {
    background: #008b95;
}

.dotted {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: from-font;
    text-underline-offset: .15em;
    color: #fff;
}

.list-arrow {
    list-style-type: disclosure-closed;
}

.measure-wider {
    max-width: 40em;
}

.w5-5{
    width: 18em;
}

.flex-no-shrink {
    flex-shrink: 0;
}